html {
  height: 100%;
  width: 100%;
}

.montserrat_standard {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
  
h1 {
  color:#FAFAFA; 
  font-style:normal;
  font-size: 50px;
  font-family: "Montserrat","Arial";
  text-decoration: none;
  }
  
h2 {
  font-style: normal;
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
  text-decoration: none;
}
  
h3 {
  font-style:normal;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
}

.main-section {
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  
.button {
  border: none;
  color: #bebec5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:"Oswald", "Arial";
  border-radius: 5px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #3B3B3E;
  color: white;
}

.buttonimg {
  background-color: #2a2a2a;
  border: none;
  padding: 10px;
  margin-top: 4px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: h1;
}