.dark-mode {
  --primary-colour: #2E2C2F;   /* Dark grey for BG */
  --secondary-colour: #F7EBEC; /* Light grey for FG */
  --text-colour: #d4c8c9;      /* Text colour */
}

.light-mode {
  --primary-colour: #F7EBEC;   /* Light grey for BG */
  --secondary-colour: #2E2C2F; /* Dark grey for FG */
  --text-colour: #3e3b3f;      /* Text colour */
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--primary-colour);
}
  
h1 {
  color: var(--text-colour);
  font-style:normal;
  font-size: 50px;
  font-family: "Oswald","Arial";
  text-decoration: none;
  }
  
h2 {
  color: var(--text-colour);
  font-style: normal;
  font-size: 30px;
  font-family: "Montserrat","Arial";
  text-decoration: none;
}
  
p {
  color: var(--text-colour);
  font-style:normal;
  font-size: 20px;
  font-family: "Montserrat","Arial";
  text-decoration: none;
}

.nav-bar {
  align-items: center; 
  transform: translate(-50%, -50%);
}

.main-section {
  padding: 5px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  
.button {
  background-color: var(--primary-colour);
  border: none;
  color: var(--text-colour);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:"Oswald", "Arial";
  border-radius: 5px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #3B3B3E;
  color: var(--text-colour);
}

.buttonimg {
  border: none;
  padding: 10px;
  margin-top: 4px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 5px;
}