:root {                          /* DEFAULT */
  --primary-colour: #2E2C2F;   /* Dark grey for BG */
  --secondary-colour: #F7EBEC; /* Light grey for FG */
  --text-colour: #e1e1e1;      /* Text colour */
  --hover-colour: #3B3B3E;     /* Hover button colour */
}

.dark-mode {                     /* DARK MODE */
  --primary-colour: #2E2C2F;   /* Dark grey for BG */
  --secondary-colour: #F7EBEC; /* Light grey for FG */
  --text-colour: #e1e1e1;      /* Text colour */
  --hover-colour: #3B3B3E;     /* Hover button colour */
}

.light-mode {                    /* LIGHT MODE */
  --primary-colour: #F7EBEC;   /* Light grey for BG */
  --secondary-colour: #2E2C2F; /* Dark grey for FG */
  --text-colour: #3e3e3e;      /* Text colour */
  --hover-colour: #e4dadb;     /* Hover button colour */
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--primary-colour);
  color: var(--text-colour);

  transition: background-color 0.5s ease, color 0.5s ease;
}
  
h1 {
  font-style:normal;
  font-size: 50px;
  font-family: "Oswald","Arial";
  text-decoration: none;
  }
  
h2 {
  font-style: normal;
  font-size: 30px;
  font-family: "Montserrat","Arial";
  text-decoration: none;
}
  
p {
  font-style:normal;
  font-size: 20px;
  font-family: "Montserrat","Arial";
  text-decoration: none;
}

a:link {
  color: var(--text-colour); 
}

a:visited {
  color: var(--text-colour); 
}

a:hover {
  color: var(--text-colour); 
}

a:active {
  color: var(--text-colour);
}

.nav-bar {
  color: var(--text-colour);
  align-items: center; 
  transform: translate(-50%, -50%);
}

.main-section {
  padding: 5px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  
.button {
  background-color: var(--primary-colour);
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:"Oswald", "Arial";
  border-radius: 5px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--hover-colour);
}

.buttonimg {
  border: none;
  padding: 10px;
  margin-top: 4px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 5px;
}